body {
  background-color: #fafafa;
}

a,
a:active,
a:visited {
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 2px solid #d6e0f3;
  color: black;
  transition: all 0.2s ease;
}

a:hover {
  border-bottom: 2px solid tomato;
}
